.home-page-card-container {
    margin-left: 125px;
}

.custom-toast-message {
    position: fixed;
    top: 15%; /* Default position from the top */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 40%; /* Default width */
    max-width: none;
    margin: 0;
    border-radius: 8px;
    background-color: #2e2e2f;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: aliceblue;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

@media only screen and (max-width: 767px){
    .home-page-card-container {
        margin-left: 40px;
    }

    .unique-home-page-each-card{
        margin-bottom: 10px;
    }

    .custom-toast-message{
        width: 60%;
        top: 30%; 
    }
}