@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';


/* Add this CSS to your stylesheet */
.view-participant-container {
  padding-top: 50px;
}

.participant-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.participant-card:hover {
  transform: translateY(-5px);
}

.participant-name {
  font-weight: bold;
}

.check-in-button {
  background-color: #007bff;
  border-color: #007bff;
}

.check-in-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@media only screen and (max-width: 768px){
  .participant-card {
    margin-bottom: 10px;

  }
}
